@page "/kontorhuse"
@inject NavigationManager NavigationManager

<div class="p-5">
<h3>Kontorhuse</h3>
<br />
<SearchKontorhusComponent OnSearchKontorhus="OnSearchKontorhus"></SearchKontorhusComponent>
<br />
<KontorhusListComponent SearchTerm="@searchTerm"></KontorhusListComponent>


<button type="button"
        class="btn btn-primary"
        @onclick="AddKontorhus">
    Nyt kontorhus
</button>
</div>

@code {

    private string searchTerm = string.Empty;

    // searchTerm er det, som brugeren indtaster i søgekomponenten
    // Når søgeknappen bliver klikket, bliver eventcallbackmetoden trigget
    // og denne metode får søgetermen.

    private void OnSearchKontorhus(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddKontorhus()
    {
        NavigationManager.NavigateTo("/opretkontorhus");
    }


}
