@page "/kontorhuse"
@inject NavigationManager NavigationManager

<div class="p-5">
    <h1>Kontorhuse</h1>
    <br />
    <SearchKontorhusComponent OnSearchKontorhus="OnSearchKontorhus"></SearchKontorhusComponent>
    <br />
    <KontorhusListComponent SearchTerm="@searchTerm"></KontorhusListComponent>


    <button type="button"
            class="btn btn-primary"
            @onclick="AddKontorhus">
        Nyt kontorhus
    </button>
</div>

@code {

    private string searchTerm = string.Empty;

    private void OnSearchKontorhus(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddKontorhus()
    {
        NavigationManager.NavigateTo("/opretkontorhus");
    }


}
