<div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Skriv søgeord her"
           @bind-value="medarbejderNameToSearch" />
    <button type="button"
            class="btn-success input-group-text"
            @onclick="OnSearch">
        Søg
    </button>
</div>


@code {

    private string medarbejderNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchMedarbejder { get; set; }

    public void OnSearch()
    {
        OnSearchMedarbejder.InvokeAsync(medarbejderNameToSearch);

    }

}


