@inject ViewOptionService ViewOption


@if (ViewOption.IsNavigationVisible)
{
    <div class="m-3">
        <button @onclick="ViewOption.Toggle" class="btn btn-primary"><span class="oi oi-collapse-left" aria-hidden="true"></span> Hide Menu</button>
    </div>
}
else
{
    <div class="m-3">
        <button @onclick="ViewOption.Toggle" class="btn btn-primary"><span class="oi oi-collapse-right" aria-hidden="true"></span> Show Menu</button>
    </div>
}


@code {

}
