<AuthorizeView>
    <Authorized>
        <a href="/identity/account/logout">Log Ud</a>
    </Authorized>
    <NotAuthorized>
        <a href="/identity/account/login">Log Ind</a>
    </NotAuthorized>
</AuthorizeView>
@code {

}
