@inherits LayoutComponentBase
@inject ViewOptionService ViewOption

<PageTitle>BusinessHouse</PageTitle>

@*<div class="page">
<div class="sidebar @ViewOption.NavBarClass">
    <NavMenu />
</div>
*@

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>

    <main>
        @*        <div class="top-row px-4">
        <LoginComponent></LoginComponent>
        </div>*@

        <article class="content px-4">
            @Body

        </article>
        <div class="d-flex justify-content-center mt-5"> 
        <LoginComponent></LoginComponent>
        </div>
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        ViewOption.OnChanged = () =>
        {
            StateHasChanged();//Refresh
        };
    }
}
