@page "/lejere"


@inject NavigationManager NavigationManager


@attribute [Authorize(Policy = "Admin")]


<div class="p-5">
    <h1>Lejere</h1>

    <SearchLejerComponent OnSearchLejer="OnLejerSearch"></SearchLejerComponent>
    <br />
    <LejerListComponent SearchTerm="@searchTerm"></LejerListComponent>
    <br />

    <button type="button"
            class="btn btn-primary"
            @onclick="AddLejer">
        Opret ny lejer
    </button>

</div>

@code {

    private string searchTerm = string.Empty;

    private void OnLejerSearch(string searchTerm)
    {
        this.searchTerm = searchTerm;

    }

    private void AddLejer()
    {
        NavigationManager.NavigateTo("/opretlejer");
    }


}
