@page "/opretlejer"

@inject IAddLejerUseCase AddLejerUseCase
@inject NavigationManager NavigationManager

<div class="p-5">
<h3>Opret Lejer</h3>

<EditForm Model="lejer" OnValidSubmit="SaveLejer">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Navn</label>
        <InputText id="name"
                   @bind-Value="lejer.Navn"
                   class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="phone">Telefon</label>
        <InputText id="phone"
                   @bind-Value="lejer.Telefon"
                   class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email"
                   @bind-Value="lejer.Email"
                   class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Gem</button>
    <button type="button" class="btn btn-primary" @onclick="Cancel">Annuller</button>

</EditForm>

</div>
@code {

    private Lejer lejer = new Lejer();

    private async Task SaveLejer()
    {
        await AddLejerUseCase.ExecuteAsync(lejer);
        NavigationManager.NavigateTo("/lejere");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/lejere");
    }
}
