@page "/lejer/{LejId:int}"
@inject IViewLejereByNameUseCase ViewLejereByNameUseCase


<h3>Lejers Navn: </h3>
<br />


<div>
<TwilioSendSmsComponent></TwilioSendSmsComponent>
</div>


@code {

    [Parameter]
    public int LejId { get; set; }

}
