@inject IViewLejereByNameUseCase ViewLejereByNameUseCase

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>SMSTelefon</th>
                <th>Telefon</th>
                <th>Adresse</th>
                <th>Lokale</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <LejerListItemComponent Lejere="listLejere"></LejerListItemComponent>
        </tbody>
    </table>
</div>

@code {
    private List<Lejer> listLejere = new List<Lejer>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listLejere = (await ViewLejereByNameUseCase.ExecuteAsync(this.SearchTerm)).OrderBy((item) => item.Navn).ToList();
    }


}
