
<div class="col-8">
<div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Søg lejer"
           @bind-value="lejerNameToSearch" />
    <button type="button"
            class="btn-success input-group-text"
            @onclick="OnSearch">
        Søg
    </button>
</div>
</div>

<br />

@code {
    // SearchLejerComponent
    // Bruges i LejerList

    private string lejerNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchLejer { get; set; }

    private void OnSearch()
    {
        OnSearchLejer.InvokeAsync(lejerNameToSearch);
    }

}
