@page "/medarbejdere"
@inject NavigationManager NavigationManager

<div class="p-5">
    <h1>Personer</h1>
    <br />
    <SearchMedarbejderComponent OnSearchMedarbejder="OnSearchMedarbejder"></SearchMedarbejderComponent>
    <br />
    <MedarbejderListComponent SearchTerm="@searchTerm"></MedarbejderListComponent>

    <button type="button"
            class="btn btn-primary"
            @onclick="AddMedarbejder">
        Ny medarbejder
    </button>

</div>

@code {

    private string searchTerm = string.Empty;

    private void OnSearchMedarbejder(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddMedarbejder()
    {
        NavigationManager.NavigateTo("/opretmedarbejder");
    }


}
