@inject NavigationManager NavigationManager

@foreach (var khus in Kontorhuse)
{
    <tr>
        <td>@khus.KontorhusNavn</td>
        <td>@khus.KontorhusTelefon</td>
        <td>@khus.KontorhusEmail</td>
        <td>
            <button type="button"
                class="btn btn-light"
            @onclick="@(()=>EditKontorhus(khus))"
            >Rediger
            </button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public List<Kontorhus> Kontorhuse { get; set; } = new List<Kontorhus>();

    private void EditKontorhus(Kontorhus kontorhus)
    {
        NavigationManager.NavigateTo($"/redigerkontorhus/{kontorhus.KontorhusID}");
    }

}
