<div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Skriv søgeord her"
           @bind-value="kontorhusNameToSearch" />
    <button type="button"
            class="btn-success input-group-text"
            @onclick="OnSearch">
        Søg
    </button>
</div>


@code {

    private string kontorhusNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchKontorhus { get; set; }

    public void OnSearch()
    {
        OnSearchKontorhus.InvokeAsync(kontorhusNameToSearch);

    }

}


